{{range $e := .Enums}}
// {{pascalCase $e.Name}} represents the IDL enum {{$e.Name}}.
type {{pascalCase $e.Name}} int32

const (
{{- range $i, $v := $e.Values}}
	{{pascalCase $e.Name}}{{$v.Name}} {{pascalCase $e.Name}} = {{enumComputedValue $e.Values $i}}
{{- end}}
)

func (e *{{pascalCase $e.Name}}) EncodeCDR(enc *cdr.Encoder) error {
	return enc.WriteInt32(int32(*e))
}

func (e *{{pascalCase $e.Name}}) DecodeCDR(dec *cdr.Decoder) error {
	v, err := dec.ReadInt32()
	if err != nil {
		return err
	}
	*e = {{pascalCase $e.Name}}(v)
	return nil
}
{{end}}