
// CDRExtensibility returns the extensibility kind of {{pascalCase .Struct.Name}}.
func (s *{{pascalCase .Struct.Name}}) CDRExtensibility() cdr.ExtensibilityKind {
	return cdr.APPENDABLE
}

{{- if not (isNestedStruct .Struct)}}
// MarshalCDR serializes {{pascalCase .Struct.Name}} into CDR format with encapsulation header.
func (s *{{pascalCase .Struct.Name}}) MarshalCDR() ([]byte, error) {
	enc := cdr.NewEncoder(cdr.GetEncapsulationKind(s.CDRExtensibility()))
	if err := s.EncodeCDR(enc); err != nil {
		return nil, err
	}
	return enc.Bytes(), nil
}

// UnmarshalCDR deserializes {{pascalCase .Struct.Name}} from CDR format, reading the encapsulation header.
func (s *{{pascalCase .Struct.Name}}) UnmarshalCDR(data []byte) error {
	dec, err := cdr.NewDecoder(data)
	if err != nil {
		return err
	}
	return s.DecodeCDR(dec)
}
{{- end}}

// EncodeCDR serializes {{pascalCase .Struct.Name}} using XCDR2 APPENDABLE encoding (DHEADER).
func (s *{{pascalCase .Struct.Name}}) EncodeCDR(enc *cdr.Encoder) error {
	dh := enc.BeginDHeader()
{{- range .Struct.Fields}}
{{- if isOptional .}}
	if err := enc.WriteBool(s.{{pascalCase .Name}} != nil); err != nil {
		return err
	}
	if s.{{pascalCase .Name}} != nil {
{{- if isPrimitive .Type}}
		if err := enc.{{cdrWriteFunc .Type}}(*s.{{pascalCase .Name}}); err != nil {
			return err
		}
{{- else if isSequence .Type}}
		if err := enc.WriteUint32(uint32(len(s.{{pascalCase .Name}}))); err != nil {
			return err
		}
		for _, elem := range s.{{pascalCase .Name}} {
{{- if isPrimitive (seqElemTypeRef .Type)}}
			if err := enc.{{cdrWriteFunc (seqElemTypeRef .Type)}}(elem); err != nil {
				return err
			}
{{- else}}
			if err := elem.EncodeCDR(enc); err != nil {
				return err
			}
{{- end}}
		}
{{- else if isArray .Type}}
		for _, elem := range s.{{pascalCase .Name}} {
{{- if isPrimitive (arrElemTypeRef .Type)}}
			if err := enc.{{cdrWriteFunc (arrElemTypeRef .Type)}}(elem); err != nil {
				return err
			}
{{- else}}
			if err := elem.EncodeCDR(enc); err != nil {
				return err
			}
{{- end}}
		}
{{- else}}
		if err := s.{{pascalCase .Name}}.EncodeCDR(enc); err != nil {
			return err
		}
{{- end}}
	}
{{- else}}
{{- if isPrimitive .Type}}
	if err := enc.{{cdrWriteFunc .Type}}(s.{{pascalCase .Name}}); err != nil {
		return err
	}
{{- else if isSequence .Type}}
	if err := enc.WriteUint32(uint32(len(s.{{pascalCase .Name}}))); err != nil {
		return err
	}
	for _, elem := range s.{{pascalCase .Name}} {
{{- if isPrimitive (seqElemTypeRef .Type)}}
		if err := enc.{{cdrWriteFunc (seqElemTypeRef .Type)}}(elem); err != nil {
			return err
		}
{{- else}}
		if err := elem.EncodeCDR(enc); err != nil {
			return err
		}
{{- end}}
	}
{{- else if isArray .Type}}
	for _, elem := range s.{{pascalCase .Name}} {
{{- if isPrimitive (arrElemTypeRef .Type)}}
		if err := enc.{{cdrWriteFunc (arrElemTypeRef .Type)}}(elem); err != nil {
			return err
		}
{{- else}}
		if err := elem.EncodeCDR(enc); err != nil {
			return err
		}
{{- end}}
	}
{{- else}}
	if err := s.{{pascalCase .Name}}.EncodeCDR(enc); err != nil {
		return err
	}
{{- end}}
{{- end}}
{{- end}}
	enc.FinishDHeader(dh)
	return nil
}

// DecodeCDR deserializes {{pascalCase .Struct.Name}} using XCDR2 APPENDABLE encoding (DHEADER).
func (s *{{pascalCase .Struct.Name}}) DecodeCDR(dec *cdr.Decoder) error {
	_, err := dec.ReadDHeader()
	if err != nil {
		return err
	}
{{- range .Struct.Fields}}
{{- if isOptional .}}
	{
		present, err := dec.ReadBool()
		if err != nil {
			return err
		}
		if present {
{{- if isPrimitive .Type}}
			v, err := dec.{{cdrReadFunc .Type}}()
			if err != nil {
				return err
			}
			s.{{pascalCase .Name}} = &v
{{- else if isSequence .Type}}
			n, err := dec.ReadUint32()
			if err != nil {
				return err
			}
			seq := make({{goType .Type}}, n)
			for i := uint32(0); i < n; i++ {
{{- if isPrimitive (seqElemTypeRef .Type)}}
				v, err := dec.{{cdrReadFunc (seqElemTypeRef .Type)}}()
				if err != nil {
					return err
				}
				seq[i] = v
{{- else}}
				if err := seq[i].DecodeCDR(dec); err != nil {
					return err
				}
{{- end}}
			}
			s.{{pascalCase .Name}} = seq
{{- else if isArray .Type}}
			var arr {{goType .Type}}
			for i := 0; i < {{arraySize .Type}}; i++ {
{{- if isPrimitive (arrElemTypeRef .Type)}}
				v, err := dec.{{cdrReadFunc (arrElemTypeRef .Type)}}()
				if err != nil {
					return err
				}
				arr[i] = v
{{- else}}
				if err := arr[i].DecodeCDR(dec); err != nil {
					return err
				}
{{- end}}
			}
			s.{{pascalCase .Name}} = &arr
{{- else}}
			var v {{goType .Type}}
			if err := v.DecodeCDR(dec); err != nil {
				return err
			}
			s.{{pascalCase .Name}} = &v
{{- end}}
		}
	}
{{- else}}
{{- if isPrimitive .Type}}
	{
		v, err := dec.{{cdrReadFunc .Type}}()
		if err != nil {
			return err
		}
		s.{{pascalCase .Name}} = v
	}
{{- else if isSequence .Type}}
	{
		n, err := dec.ReadUint32()
		if err != nil {
			return err
		}
		s.{{pascalCase .Name}} = make({{goType .Type}}, n)
		for i := uint32(0); i < n; i++ {
{{- if isPrimitive (seqElemTypeRef .Type)}}
			v, err := dec.{{cdrReadFunc (seqElemTypeRef .Type)}}()
			if err != nil {
				return err
			}
			s.{{pascalCase .Name}}[i] = v
{{- else}}
			if err := s.{{pascalCase .Name}}[i].DecodeCDR(dec); err != nil {
				return err
			}
{{- end}}
		}
	}
{{- else if isArray .Type}}
	{
		for i := 0; i < {{arraySize .Type}}; i++ {
{{- if isPrimitive (arrElemTypeRef .Type)}}
			v, err := dec.{{cdrReadFunc (arrElemTypeRef .Type)}}()
			if err != nil {
				return err
			}
			s.{{pascalCase .Name}}[i] = v
{{- else}}
			if err := s.{{pascalCase .Name}}[i].DecodeCDR(dec); err != nil {
				return err
			}
{{- end}}
		}
	}
{{- else}}
	if err := s.{{pascalCase .Name}}.DecodeCDR(dec); err != nil {
		return err
	}
{{- end}}
{{- end}}
{{- end}}
	return nil
}
